In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [6]:
# 1-Survived 0-not Survived
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [7]:
#inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [8]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [9]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True

In [11]:
inputs.columns[inputs.isna().any()

SyntaxError: incomplete input (1480638524.py, line 1)

In [0]:
inputs.columns[inputs.isna().any()]
Index(['Age'], dtype='object')

In [12]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass        Age     Fare  female
0       3  22.000000   7.2500   False
1       1  38.000000  71.2833    True
2       3  26.000000   7.9250    True
3       1  35.000000  53.1000    True
4       3  35.000000   8.0500   False
5       3  29.699118   8.4583   False

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [14]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [15]:
model.fit(X_train,y_train)

GaussianNB()

In [16]:
model.score(X_test,y_test)

0.7597765363128491

In [17]:
X_test[0:10]

     Pclass        Age      Fare  female
462       1  47.000000   38.5000   False
226       2  19.000000   10.5000   False
283       3  19.000000    8.0500   False
739       3  29.699118    7.8958   False
96        1  71.000000   34.6542   False
328       3  31.000000   20.5250    True
519       3  32.000000    7.8958   False
297       1   2.000000  151.5500    True
690       1  31.000000   57.0000   False
847       3  35.000000    7.8958   False

In [18]:
y_test[0:10]

462    0
226    1
283    1
739    0
96     0
328    1
519    0
297    0
690    1
847    0
Name: Survived, dtype: int64

In [19]:
model.predict(X_test[0:10])

array([0, 0, 0, 0, 1, 1, 0, 1, 0, 0])

In [20]:
model.predict_proba(X_test[:10])

array([[7.29635423e-01, 2.70364577e-01],
       [9.25170874e-01, 7.48291260e-02],
       [9.65472624e-01, 3.45273760e-02],
       [9.71302305e-01, 2.86976950e-02],
       [4.99693564e-01, 5.00306436e-01],
       [4.54033232e-01, 5.45966768e-01],
       [9.71699655e-01, 2.83003455e-02],
       [1.16840678e-05, 9.99988316e-01],
       [6.46173699e-01, 3.53826301e-01],
       [9.71820516e-01, 2.81794843e-02]])

In [21]:
# pclass, Age, Fare, Gender
test = [[1,23.000000,13.2750,0]]
# test = X_test
a = model.predict(test)
if a[0] ==0:
    print("Not Survived")
else:
    print("Survived")
# print(X_test)

Not Survived

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [22]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.8041958 , 0.74125874, 0.80985915, 0.78873239, 0.72535211])